.balance-array {
    background-color: #00bc77;
    color: #fff;
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    padding: 14px;
    width: 60%;
    align-items: center;
    font-family: Helvetica;
    font-weight: bold;
}

.array-date {
    margin-left: 20px;
    margin-right: 20px;
    width: 100px;
}

.array-description {
    width: 875px;
    margin-right: 20px;
}

.array-price {
    width: 85px;
    margin-right: 20px;
}

.array-balance {
    width: 90px;
    margin-right: 20px;
}

.array-chevron {
    margin-right: 20px;
}

.fa-chevron-down, .fa-chevron-up {
    cursor: pointer;
}

.balance-collapse {
    background-color: #fff;
    border-radius: 0px 0px 10px 10px;
    color: #00a367;
    margin: auto;
    padding: 14px;
    width: 60%;
    font-family: Helvetica;
}

.collapse-section {
    margin-left: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
}

.collapse-title {
    font-weight: bold;
    width: 155px;
    margin-right: 25px;
    font-size: 16px;
}

.collapse-information {
    margin-right: 20px;
}

.fa-pencil {
    cursor: pointer;
}