.change-name-form {
    margin-top: 20px;
}

.edit-form {
    color: white;
    font-weight: bold;
}

.form-edit-group {
    padding-bottom: 10px;
}

.label-edit-form {
    padding-right: 10px;
}

.input-edit-form {
    padding: 8px;
}

.button-edit-group {
    display: flex;
    justify-content: center;
}

.button-edit-name {
    padding: 10px 25px 10px 25px;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #00bc77;
    border: #00bc77;
    color: #fff;
    font-size: 14px;
    margin-top: 10px;
}

.button-edit-name:hover {
    cursor: pointer;
}