.user-account-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top: 20px;
    margin-bottom: 2rem;
    font-family: Helvetica;
}

.user-title {
    color: white;
    display: flex;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.btn-edit-name {
    padding: 10px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    background-color: #00bc77;
    border: #00bc77;
    color: #fff;
    font-size: 14px;
    display: flex;
}
 
.btn-edit-name:hover {
    cursor: pointer;
}