.content-header {
    position: absolute;
    top: 20%;
    right: 5%;
    width: 300px;
    background-color: white;
    text-align: left;
    font-family: Helvetica;
    color: #2c3e50;
    padding: 2rem;
}

.title-header {
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
}

.paragraph-header {
    font-size: 1.2rem;
    margin-top: 19px;
}